VITE_PROD=true
VITE_DEV_USE_PROXY=false
VITE_PROD_API_URL=http://localhost:8081
VITE_PROD_SOCKET_URL=http://localhost:8081
VITE_API_FALLBACK_ENABLED=false
VITE_THEME_MODE=light
VITE_ENABLE_DARK_MODE=true
VITE_THEME_LOCK=false
VITE_MAPTILER_API_KEY=
