VITE_PROD=false
VITE_DEV_USE_PROXY=false
VITE_DEV_PORT=3001
VITE_DEV_FALLBACK_PORT=3003

VITE_DEV_PROXY_TARGET=http://localhost:3002
VITE_DEV_API_URL=http://localhost:3002
VITE_DEV_SOCKET_URL=http://localhost:3002
VITE_API_FALLBACK_ENABLED=false

VITE_PROD_API_URL=http://localhost:3002
VITE_PROD_SOCKET_URL=http://localhost:3002

VITE_THEME_MODE=light
VITE_ENABLE_DARK_MODE=true
VITE_THEME_LOCK=false
VITE_MAPTILER_API_KEY=
